extends layouts/main

block content 
    div.board-detail
        div.user-info
            img.user-info__avatar(src=board.creator.avatarUrl)
            div.user-info__text
                span=board.creator.nickname
                span=board.areas
        div.slide#jsSlide                
            img.slide__image(src=board.imageUrls[0])
            img.slide__image(src=board.imageUrls[1])
            img.slide__image(src=board.imageUrls[2])
            img.slide__image(src=board.imageUrls[3])
            div.slide__arrow
                i.fas.fa-chevron-left#jsArrowLeft
                i.fas.fa-chevron-right#jsArrowRight
        div.board-info
            div.board-info__title
                h3=board.title 
                h3=board.cost
                h3=board.address
            div.board-info__map#jsDetailMap
        p.board-detail__text=board.description 
        span.board-detail__views 조회 #{board.views}
        

