nav.nav#jsNav
    div.nav__col
            i.fas.fa-times#jsNavTimes
    div.nav__col
        div.logo
            a.logo__link(href=routes.home)
                img.logo__image(src="https://shstore-side-project.s3.ap-northeast-2.amazonaws.com/assets/logo-box-market.png")
    div.nav__col
        div.enter
            if !loggedUser    
                a.enter__login-link(href=routes.login)
                    i.fas.fa-sign-in-alt
                    span 로그인
                a.enter__join-link(href=routes.join) 
                    i.fas.fa-user-plus
                    span 회원가입
            else 
                img.enter__avatar#jsEnterAvatar(src="https://shstore-side-project.s3.ap-northeast-2.amazonaws.com/assets/user.png")
                ul.enter__list-user#jsEnterListUser
                    li
                        a(href=routes.userProfile(loggedUser.nickname)) 프로필
                    li
                        a(href=routes.userEdit(loggedUser.nickname)) 프로필 수정
                    li
                        a(href=routes.logout) 로그아웃

    div.nav__col
        ul.list-area
            li 
                a(href="#") 서울
            li 
                a(href="#") 부산
            li 
                a(href="#") 대구
            li 
                a(href="#") 인천
            li 
                a(href="#") 광주
            li 
                a(href="#") 대전
            li 
                a(href="#") 울산
            li 
                a(href="#") 세종
            li 
                a(href="#") 경기도
            li 
                a(href="#") 강원도
            li 
                a(href="#") 충청북도
            li 
                a(href="#") 충청남도
            li 
                a(href="#") 전라북도
            li 
                a(href="#") 전라남도
            li 
                a(href="#") 경상북도
            li 
                a(href="#") 경상남도
            li 
                a(href="#") 제주도
div.blank#jsBlank